aside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 70%;
    max-width: 450px;
    margin: 0 auto;
}

aside img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    aside {
        width: 90%;
    }
}